@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pate-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);

  --grayish-blue: hsl(220, 14%, 75%);

  --light-grayish-blue: hsl(223, 64%, 98%);

  --White: hsl(0, 0%, 100%);

  --bg-black-light-box: hsl(0, 0%, 0%);
}

html {
  font-family: "Poppins", "Sans";
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  min-height: max-content;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
}

.navbar .logo {
  font-size: 2.5rem;
  padding-bottom: 0.6rem;
}

.navbar .left-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex: 2;
  align-self: center;
  margin-left: 4rem;
  gap: 2rem;
}

.navbar .left-nav li {
  cursor: pointer;
  font-size: 2rem;
  padding-bottom: 0.6rem;
  transition: all 0.4s ease;
}

.navbar .left-nav li:hover {
  border-bottom: 3px solid var(--orange);
}

.navbar .left-nav li a {
  color: var(--very-dark-blue);
}

.navbar .right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.navbar .right-nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .right-nav button.cart-btn {
  position: relative;
}

.navbar .right-nav button.cart-btn .cart-notify {
  position: absolute;
  top: -10px;
  left: -28px;
  background: var(--orange);
  padding: 0.3rem;
  width: 2.3rem;
  height: 2.3rem;
  color: white;
  border-radius: 30%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-model {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 1rem;
  background: white;
  border-radius: 4px;
  width: 40rem;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.cart-model h4 {
  padding: 1rem 1.2rem;
  font-size: 2rem;
  color: var(--dark-grayish-blue);
}

.cart-model .product-cart {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  gap: 1rem;
}

.cart-model-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.cart-model-empty h4 {
  font-size: 2rem;
  color: red;
  font-weight: 500;
}

.cart-model .product-cart img {
  width: 6rem;
  object-fit: cover;
  border-radius: 3px;
}

.cart-model .product-cart .product-cart-details {
  padding: 1.2rem;
}

.cart-model .product-cart .product-cart-details h4 {
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: none;
  padding: 0;
}

.cart-model .product-cart .product-cart-details p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--very-dark-blue);
}

.cart-model .product-cart .product-cart-details p span {
  margin-left: 2rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.cart-model button.checkout-btn {
  font-size: 2rem;
  color: #000;
  font-weight: 300;
  padding: 1.6rem;
  background: var(--orange);
  border: 0;
  border-radius: 10px;
  width: 100%;
  display: block;
  margin: 1.2rem 0;
}

.add-cart-btn {
  font-size: 2rem;
  color: var(--very-dark-blue);
  font-weight: 700;
  padding: 1em 1.6em;
  background: var(--orange);
  border: 0;
  border-radius: 10px;
  margin: 1.2rem 2rem;
  cursor: pointer;
}

.add-cart-btn img {
  margin-right: 2rem;
}

.count-product {
  display: flex;
  width: 20rem;
  align-items: center;
  justify-content: space-between;

  font-size: 2.4rem;
  padding: 1em 2em;
  background-color: var(--light-grayish-blue);
  font-weight: 600;
  gap: 2rem;
  border-radius: 6px;

  margin: 1.2rem 2rem;
}

.count-product button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: none;
  color: var(--orange);
  font-size: inherit;
}

.navbar .right-nav .cart-btn img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.navbar .right-nav .avatar-btn {
  border-radius: 50%;
  padding: 0.3rem;
  transition: background-color 0.6s ease-in;
}

.navbar .right-nav .avatar-btn:hover {
  background-color: var(--orange);
}

.navbar .right-nav .avatar-btn img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.flex {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.content {
  padding: 2rem;
  margin: 5rem 2rem;
  flex: 3;
}

.content h4 {
  color: var(--dark-grayish-blue);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content h1 {
  font-size: 4rem;
  text-transform: capitalize;
  line-height: 1.2;
}

.content p {
  font-size: 2rem;
  color: var(--dark-grayish-blue);
  margin-top: 3rem;
}

.content h3.price {
  font-size: 2rem;
  margin-top: 2rem;
}

.content h3.price span {
  background: black;
  font-size: 1.4rem;
  padding: 0.5em 1em;
  color: white;
  border-radius: 4px;
  margin-left: 12px;
}

.image-wrapper {
  margin-inline: 4rem;
  width: 40%;
}

.image-wrapper .main-image {
  height: 40rem;
  border-radius: 20px;
}

.image-wrapper .main-image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.thams-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.thams-list .img {
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: opacity 1s ease;
}

.thams-list .img img {
  display: block;
}

.thams-list .img:hover {
  opacity: 0.6;
}

/* TODO:  model image stayles  */
.model {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 10;
}

.model-image {
  width: 50rem;
  position: relative;
  margin-top: 2rem;
  height: 50rem;
  border-radius: 5px;
}

.mobile {
  display: none;
}

.model .model-image img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.model .model-image button {
  position: absolute;
  top: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  border: none;
}

.model .btn-right {
  right: -30px;
}

.model .btn-left {
  left: -30px;
}

button.close-model {
  border: none;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(26rem);
}

.menu-icon {
  display: none;
}

/* TODO:  model image style */

/* TODO:  media query  */

@media (max-width: 480px) {
  body {
    overflow-y: auto;
  }

  body:has(.mobile-nav, .cart-model) {
    overflow-y: hidden;
  }

  .container {
    width: 100%;
  }

  .navbar {
    margin: 0 1rem;
  }

  .navbar .left-nav {
    display: none;
  }

  .flex {
    flex-direction: column;
    margin-top: 1rem;
  }

  .image-wrapper {
    display: none;
  }

  .mobile {
    display: block;
    position: relative;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0;
    overflow: hidden;
  }

  .mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: all 1.2s ease-in;
  }

  .mobile button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
    border: none;
  }

  .mobile .btn-right {
    right: 20px;
  }

  .mobile .btn-left {
    left: 20px;
  }

  .content {
    margin: 1rem;
    padding: 0;
  }

  .menu-icon {
    display: block;
  }

  .mobile-nav {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    z-index: 99999;
  }

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: white;
  }

  .close-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-nav ul {
    list-style: none;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .mobile-nav ul li {
    cursor: pointer;
  }

  .mobile-nav ul li a {
    text-decoration: none;

    color: gray;
  }

  .count-product {
    justify-content: space-between;
    margin: 1rem 1.6rem;
    width: 36rem;
  }

  .cart-model {
    right: 0;
    top: 140%;
    height: 30vh;
    width: 100%;
  }
}
